div{
  .methods-selector{
    display: flex;
    align-items: center;
  }
  md-select{
    width: 0px;
    visibility: hidden;
    pointer-events: none;
  }
  md-chip-list{
    md-chip{
      cursor: pointer;
    }
  }
}
.methods-selector{
  button{
    margin: 8px;
  }
}
