<md-card *ngIf="recipe">
  <md-card-header>{{recipe.name}}</md-card-header>
  <md-card-content>
    <md-list>
      <md-list-item isRippleEnabled="true" *ngFor="let item of recipe.ingredients">
        <p mdLine>{{ingredients[item.ingredient]}}</p>
        <p mdLine>{{item.amount}} {{units[item.unit]}}</p>
        <md-chip-list mdLine>
          <md-chip *ngFor="let method of item.cookingMethods">{{methods[method]}}</md-chip>
        </md-chip-list>
      </md-list-item>
    </md-list>
  </md-card-content>
</md-card>
