<div class="recipe-details-component" *ngIf="recipe !== undefined">
    <md-card>
        <header>
            <span>#{{recipe.id}} {{recipe.name}}</span>
            <p *ngIf="recipe.bigAmount">Sum of amounts for that recipe can be over 1000</p>
        </header>
    </md-card>
    <md-card>
        <header><span class="section">Add ingredient</span></header>
        <form #f="ngForm" novalidate id="new-ingredient-form" (submit)="addIngredient(newIngredient); f.resetForm()"
              [formGroup]="newIngredient" class="ingredient-form">
            <md-select placeholder="Select ingredient" formControlName="ingredient">
                <md-option *ngFor="let ingredient of getAvailableIngredients(recipe)" [value]="ingredient">
                    {{ingredients[ingredient]}}
                </md-option>
            </md-select>
            <md-select placeholder="Select unit" formControlName="unit" formControlName="unit">
                <md-option *ngFor="let unit of allUnits" [value]="unit">
                    {{units[unit]}}
                </md-option>
            </md-select>
            <md-form-field>
                <input mdInput placeholder="Ingredient amount" type="number" formControlName="amount">
                <md-error
                        *ngIf="newIngredient.get('amount').touched && newIngredient.get('amount').hasError('required')">
                    Amount is required
                </md-error>
                <md-error
                        *ngIf="newIngredient.get('amount').touched && newIngredient.get('amount').hasError('tooMuchIngredients')">
                    Sum of amounts is over 1000
                </md-error>
            </md-form-field>
            <button type="submit" [disabled]="newIngredient.invalid" color="primary" md-raised-button>ADD</button>
        </form>
    </md-card>
    <md-card>
        <div class="ingredients-list">
            <header><span class="section">Ingredients</span></header>
            <div *ngFor="let item of recipe.ingredients">
                <div class="ingredient-name">{{ingredients[item.ingredient]}}</div>
                <div class="ingredient-amount">{{item.amount}} {{units[item.unit]}}</div>
                <div class="methods-selector">
                    <md-select (change)="addCookingMethod($event.value, item.ingredient)" #select>
                        <md-option *ngFor="let method of getAvailableMethods(item.ingredient)" [value]="method">
                            {{methods[method]}}
                        </md-option>
                    </md-select>
                    <button mdTooltip="Click to add Cooking Method" mdTooltipShowDelay="500" (click)="select.open()"
                            [disabled]="getAvailableMethods(item.ingredient).length === 0" md-mini-fab>
                        <md-icon class="md-12">add</md-icon>
                    </button>
                    <md-chip-list [tabIndex]="-1">
                        <md-chip mdTooltip="Click to delete Cooking Method" mdTooltipShowDelay="500"
                                 *ngFor="let method of item.cookingMethods"
                                 (click)="removeCookingMethod(method, item.ingredient)">
                            {{methods[method]}}
                        </md-chip>
                    </md-chip-list>
                </div>
                <divider></divider>
            </div>
        </div>
    </md-card>
</div>
