div {
  cursor: pointer;
  padding: 8px 4px;
  display: flex;
  align-items: center;
  span {
    flex: 1;
    header {
      font-size: 1.25em;
    }
    &.selected{
      font-weight: bolder;
    }
  }

  &:hover {
    background: #eee;
  }

  .recipe-id {
    margin: 0px;
    opacity: 0.5;
  }
}