:host {

  &.selected {
    background-color: #eee;
    span {
      font-weight: bolder;
    }
  }

  cursor: pointer;
  padding: 8px;
  display: flex;
  align-items: center;
  span {
    flex: 1;
    .recipe-id {
      font-size: 0.75em;
    }
    header {
      font-size: 1em;
    }
  }

  md-icon {
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
  }

  &:hover {
    background: #eee;
  }

  .recipe-id {
    margin: 0px;
    opacity: 0.5;
  }

  md-chip {
    color: white;
    font-weight: bolder;
  }

}